.loader {
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    margin-top: 20px;
  }
  .mini-loader{
    border-radius: 50%;
    border-right: 5px solid rgb(125, 25, 125);
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }